logo{
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 1em 0;
}

#headerLogo{
    max-width: 200px;
}

#mainBanner{
    background-image: url('../imgs/school_girl.png');
    background-color: var(--logoblue);
    background-size: cover;
    min-height: 60vh;
    display: flex;
}

#activation{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 40%;
    min-height: 60vh;
    gap: 2vw;
}

#activation p{
    font-size: 2em;
    text-align: end;
    color: #ffffff;
    line-height: 1.4em;
    max-width: 20vw;
}

#activationQR{
    max-width: 250px;
}

#brands{
    width: 60%;
    display: flex;
    justify-content: center;
    align-items: end;
    flex-direction: column;
    gap: 2vh;
}

#brands a{
    background-color: #E9F3FC90;
    border: none;
    padding: .6em;
    transition: .3s;
    cursor: pointer;
}

#brands a:hover{
    padding-right: 6em;
}

.brandLogo{
    max-width: 70px;
}

@media (max-width: 1080px){
    #mainBanner{
        flex-direction: column;
        padding: 2em 1em 0 1em;
        background-image: none;
    }
    #brands{
        flex-direction: row;
        width: 100%;
        justify-content: center;
    }
    #activation{
        width: 100%;
        flex-direction: column;
        min-height: 0;
    }
    #activation p{
        font-size: 2em;
        text-align: center;
        max-width: 100%;
    }
    #activationQR{
        padding-bottom: 3em;
    }
    #brands a:hover{
        padding-right: .6em;
    }
}